// start everyone
::-webkit-scrollbar-thumb {
    background: var(--color_oragn);
}

body {
    text-transform: capitalize;
    overflow-x: hidden;
}

:root {
    --color_blue: blue;
    --color_white: white;
    --color_oragn: #ff9c00;
    --color_black: black;
}

::-webkit-scrollbar {
    width: 10px;
}

/* end everyone */
/* start header */
body .sectionSoper::after {
    width: 90px;
    height: 90px;
    top: 25%;
    left: 5%;
}

body .sectionSoper .containerImage::after {
    width: 94px;
    height: 94px;
    top: 55%;
    left: -2%;
}

body .sectionSoper::before {
    width: 105%;
    height: 19vh;
    left: -3%;
    top: 91%;
}

/* end header */
/* start help */
body .sectionHelp div .divNth:nth-child(even) {
    flex-direction: row-reverse;
}

body .sectionHelp div .divNth:nth-child(odd) {
    flex-direction: row;

    .divFlexChild {
        justify-content: flex-end;
    }
}

/* end help */